<select {{action 'setLocale' on='change'}} class="form-control">
  {{#each locales as |loc|}}
    <option value="{{loc.id}}" selected={{eq loc.id i18n.locale}}>
      {{loc.name}}
    </option>
  {{/each}}
</select>
